<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GateLock</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartSocketListen</display-name>
    <servlet-name>StartSocketListen</servlet-name>
    <servlet-class>SocketServlet.StartSocketListen</servlet-class>
     
  </servlet>
  <servlet-mapping>
    <servlet-name>StartSocketListen</servlet-name>
    <url-pattern>/StartSocketListen</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>Listener.SocketInTomcat</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>StartSocketListening</display-name>
    <servlet-name>StartSocketListening</servlet-name>
    <servlet-class>SocketServlet.StartSocketListening</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartSocketListening</servlet-name>
    <url-pattern>/StartSocketListening</url-pattern>
  </servlet-mapping>
</web-app>